{% extends 'index.html' %}
{% block body %}
    <div class="form loginBox">
        <form method="post" action="{% url 'login' %}" accept-charset="UTF-8">
            {% csrf_token %}
            <input id="email" class="form-control" type="text" placeholder="Email" name="email">
            <input id="password" class="form-control" type="password" placeholder="Password" name="password">
            <input class="btn btn-default btn-login" type="Submit" value="Login">
        </form>
    </div>
{% endblock %}